@font-face {
    font-family: 'cakefont';
    src: url('../font/cakedingbats-webfont.eot');
    src: url('../font/cakedingbats-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/cakedingbats-webfont.woff2') format('woff2'),
    url('../font/cakedingbats-webfont.woff') format('woff'),
    url('../font/cakedingbats-webfont.ttf') format('truetype'),
    url('../font/cakedingbats-webfont.svg#cake_dingbatsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media only screen and (max-width: 500px) {
  .hero .overlay {
    top:50%;
    font-size: 1em;
    font-weight: 900;
    color: white;
  }
}

.hero .overlay {
  color: #FAFAFA;
  left:0;
  line-height: 1.05;
  position: absolute;
  text-align: center;
  top:40%;
  width: 100%;
  font-weight: 900;
}
.hero {font-size: .75em; color: #fafafa;}


.hero .small {font-size: .75em; color: #fafafa; text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);}


.hero button a {text-decoration: none; color:white;}


.steps {width:80%; margin:4em auto; overflow: auto;}

ul step-list {text-align:center;}
